html, body {
  scroll-behavior: smooth;
  /*So screen doesn't slide*/
  width: auto!important; 
  overflow-x: hidden!important;
  margin: 0;
}

nav{
  text-align: center;
  background-color: #b66540;
  width: 100%;
  padding: 25px;
  position: fixed;
  z-index: 100;
  top: 0;  
}

a{  
  color: #F4EBD0;
  padding: 15px;
  font-family: verdana;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
a:hover{
  color: #D6AD60;
}

section{
  color: #122620;
  background-color: #F4EBD0;
  width: 100%;
  height: fit-content;
  padding: 80px;
}

#home{
  padding-top: 70px;
  background: url(../images/backgroundImg.png) no-repeat;
  background-size: cover !important;
    -webkit-background-size: cover !important;
  width: 100%;
  height: 550px;
}

#about{
  vertical-align: middle;
  font: verdana;
  font-size: 30px;
}

#familyPic{
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

/*
body{
  background-image: url(../images/backgroundImg.png) no-repeat top center;
  background-size: cover !important;
    -webkit-background-size: cover !important;
  overflow: hidden;
}
*/